.card-img-side{
    margin-left: 300px;
    margin-top: 20px;
}
.card-body{
    margin-top: -200px;
    width: 500px;
}
.img{
    position: fixed;
    margin-left: 720px;
}
.card{
    margin-left: 100px;
    width: 800px;
}
@media only screen and (max-width:700px){
    .card{
        margin-left: -50px;
        width:500px
    }
    .img{
        position: relative;
        margin-left:-100px;
    }
    .card-img-side{
        margin-left: 250px;
    }
    
    
}