
.img{
    margin-left: -100px;
}
.form{
    margin-top: 60px;
    margin-left: 100px;
}
.enroll{
    font-size: xx-large;
    margin-left: 35px;
}
.btn{
    margin-top: 30px;
}
.btn-danger{
    margin-left: 20px;
}

